In [17]:
import os
import pandas as pd
import numpy as np
import json

Loading Actual Data Sheet From DataSet And Performing Analysis

In [18]:
metadata = pd.read_csv("movies_metadata.csv")

C:\Users\Mo Kasim\AppData\Local\Temp\ipykernel_21240\1538011337.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  metadata = pd.read_csv("movies_metadata.csv")

In [19]:
metadata.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [20]:
columnList = metadata.columns

In [21]:
columnList

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

Deleting Non Required Columns

In [22]:
for i in ['adult', 'belongs_to_collection', 'budget','homepage', 'imdb_id','popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue','spoken_languages', 'status', 'tagline', 'original_title','video',
       'vote_average', 'vote_count']:
    if i in columnList:
        metadata = metadata.drop(i, axis =1)
    ""

In [23]:
metadata.head(2)

,genres,id,original_language,overview,runtime,title
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",81.0,Toy Story
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,104.0,Jumanji

Resequencing Columns As Per Requirement

In [24]:
reSequence = ['id','title','genres','original_language','overview','runtime']

In [25]:
metadata = metadata.reindex(columns = reSequence)

In [26]:
metadata.head()

,id,title,genres,original_language,overview,runtime
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,"Led by Woody, Andy's toys live happily in his ...",81.0
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,When siblings Judy and Peter discover an encha...,104.0
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,A family wedding reignites the ancient feud be...,101.0
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,"Cheated on, mistreated and stepped on, the wom...",127.0
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",en,Just when George Banks has recovered from his ...,106.0

Deleting Null Valued Rows

In [27]:
metadata.shape

(45466, 6)

In [28]:
metadata.isna().sum()

id                     0
title                  6
genres                 0
original_language     11
overview             954
runtime              263
dtype: int64

In [29]:
metadata = metadata.dropna()

In [30]:
metadata.isna().sum()

id                   0
title                0
genres               0
original_language    0
overview             0
runtime              0
dtype: int64

In [31]:
metadata.shape

(44496, 6)

Getting Crew column from "Creds.csv" - a processed output of "Credits.csv" in dataset

In [32]:
creds = pd.read_csv("creds.csv")

In [33]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44496 entries, 0 to 45465
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 44496 non-null  object
 1   title              44496 non-null  object
 2   genres             44496 non-null  object
 3   original_language  44496 non-null  object
 4   overview           44496 non-null  object
 5   runtime            44496 non-null  float64
dtypes: float64(1), object(5)
memory usage: 2.4+ MB

In [34]:
#Converting datatype of 'id' column before performing join operation
metadata['id'] = metadata['id'].astype('int64')

In [35]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44496 entries, 0 to 45465
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 44496 non-null  int64
 1   title              44496 non-null  object
 2   genres             44496 non-null  object
 3   original_language  44496 non-null  object
 4   overview           44496 non-null  object
 5   runtime            44496 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 2.4+ MB

In [36]:
result = pd.merge(metadata, creds, on = 'id')

In [37]:
result.shape

(44571, 8)

In [38]:
result.isna().sum()

id                   0
title                0
genres               0
original_language    0
overview             0
runtime              0
Unnamed: 0           0
crew                 0
dtype: int64

In [39]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44571 entries, 0 to 44570
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 44571 non-null  int64
 1   title              44571 non-null  object
 2   genres             44571 non-null  object
 3   original_language  44571 non-null  object
 4   overview           44571 non-null  object
 5   runtime            44571 non-null  float64
 6   Unnamed: 0         44571 non-null  int64
 7   crew               44571 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 3.1+ MB

In [40]:
resultColumnList = result.columns

In [41]:
resultColumnList

Index(['id', 'title', 'genres', 'original_language', 'overview', 'runtime',
       'Unnamed: 0', 'crew'],
      dtype='object')

In [42]:
result = result.drop(result.columns[6], axis=1)

In [43]:
metadata = result.copy()

In [44]:
metadata

,id,title,genres,original_language,overview,runtime,crew
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,"Led by Woody, Andy's toys live happily in his ...",81.0,"[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,When siblings Judy and Peter discover an encha...,104.0,"[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,A family wedding reignites the ancient feud be...,101.0,"[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,"Cheated on, mistreated and stepped on, the wom...",127.0,"[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",en,Just when George Banks has recovered from his ...,106.0,"[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...
44566,439050,Subdue,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",fa,Rising and falling between a man and woman.,90.0,"[{'credit_id': '5894a97d925141426c00818c', 'de..."
44567,111109,Century of Birthing,"[{'id': 18, 'name': 'Drama'}]",tl,An artist struggles to finish his work while a...,360.0,"[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
44568,67758,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",en,"When one of her hits goes wrong, a professiona...",90.0,"[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
44569,227506,Satan Triumphant,[],en,"In a small town live two brothers, one a minis...",87.0,"[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
44570,461257,Queerama,[],en,50 years after decriminalisation of homosexual...,75.0,"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [45]:
del result

Processing Genre Column

In [46]:
metadata['genres']

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
44566    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
44567                        [{'id': 18, 'name': 'Drama'}]
44568    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
44569                                                   []
44570                                                   []
Name: genres, Length: 44571, dtype: object

In [47]:
import string
for i in range(len(metadata['genres'])):
    metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("[{'id': ",'')
    metadata['genres'].loc[i] = metadata['genres'].loc[i].replace(", 'name': ",'')
    metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("}, {'id': ",'')
    metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("}]",'')
    metadata['genres'].loc[i] = metadata['genres'].loc[i].translate(str.maketrans("", "", string.digits))
    metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("''",'-')
    metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("'",'')

C:\Users\Mo Kasim\AppData\Local\Temp\ipykernel_21240\2184548895.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("[{'id': ",'')
C:\Users\Mo Kasim\AppData\Local\Temp\ipykernel_21240\2184548895.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata['genres'].loc[i] = metadata['genres'].loc[i].replace(", 'name': ",'')
C:\Users\Mo Kasim\AppData\Local\Temp\ipykernel_21240\2184548895.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("}, {'id': ",'')
C:\Users\Mo Kasim\AppData\Local\Temp\ipykernel_21240\2184548895.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("}]",'')
C:\Users\Mo Kasim\AppData\Local\Temp\ipykernel_21240\2184548895.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata['genres'].loc[i] = metadata['genres'].loc[i].translate(str.maketrans("", "", string.digits))
C:\Users\Mo Kasim\AppData\Local\Temp\ipykernel_21240\2184548895.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("''",'-')
C:\Users\Mo Kasim\AppData\Local\Temp\ipykernel_21240\2184548895.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("'",'')

In [48]:
#Dumping temporary sheet and deleting metadata variable
metadata.to_csv("metadata1.csv", index=False)

In [49]:
del metadata

In [126]:
movieData = pd.read_csv("metadata1.csv")

In [127]:
movieData.shape

(44571, 7)

In [128]:
movieData.head(3)

,id,title,genres,original_language,overview,runtime,crew
0,862,Toy Story,Animation-Comedy-Family,en,"Led by Woody, Andy's toys live happily in his ...",81.0,"[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,Adventure-Fantasy-Family,en,When siblings Judy and Peter discover an encha...,104.0,"[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,Romance-Comedy,en,A family wedding reignites the ancient feud be...,101.0,"[{'credit_id': '52fe466a9251416c75077a89', 'de..."

In [129]:
#Adding DirectorName and ProducerName column
movieData = movieData.reindex(['id', 'title', 'genres','DirectorName','ProducerName', 'original_language', 'overview', 'runtime', 'crew'],axis=1)

In [130]:
movieData

,id,title,genres,DirectorName,ProducerName,original_language,overview,runtime,crew
0,862,Toy Story,Animation-Comedy-Family,NaN,NaN,en,"Led by Woody, Andy's toys live happily in his ...",81.0,"[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,Adventure-Fantasy-Family,NaN,NaN,en,When siblings Judy and Peter discover an encha...,104.0,"[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,Romance-Comedy,NaN,NaN,en,A family wedding reignites the ancient feud be...,101.0,"[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,Waiting to Exhale,Comedy-Drama-Romance,NaN,NaN,en,"Cheated on, mistreated and stepped on, the wom...",127.0,"[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,Comedy,NaN,NaN,en,Just when George Banks has recovered from his ...,106.0,"[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...
44566,439050,Subdue,Drama-Family,NaN,NaN,fa,Rising and falling between a man and woman.,90.0,"[{'credit_id': '5894a97d925141426c00818c', 'de..."
44567,111109,Century of Birthing,Drama,NaN,NaN,tl,An artist struggles to finish his work while a...,360.0,"[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
44568,67758,Betrayal,Action-Drama-Thriller,NaN,NaN,en,"When one of her hits goes wrong, a professiona...",90.0,"[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
44569,227506,Satan Triumphant,[],NaN,NaN,en,"In a small town live two brothers, one a minis...",87.0,"[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
44570,461257,Queerama,[],NaN,NaN,en,50 years after decriminalisation of homosexual...,75.0,"[{'credit_id': '593e676c92514105b702e68e', 'de..."

Processing Crew column to get DirectorName and ProducerName

In [131]:
movieData['crew']

0        [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1        [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2        [{'credit_id': '52fe466a9251416c75077a89', 'de...
3        [{'credit_id': '52fe44779251416c91011acb', 'de...
4        [{'credit_id': '52fe44959251416c75039ed7', 'de...
                               ...
44566    [{'credit_id': '5894a97d925141426c00818c', 'de...
44567    [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...
44568    [{'credit_id': '52fe4776c3a368484e0c8387', 'de...
44569    [{'credit_id': '533bccebc3a36844cf0011a7', 'de...
44570    [{'credit_id': '593e676c92514105b702e68e', 'de...
Name: crew, Length: 44571, dtype: object

In [132]:
import ast

In [133]:
directorName=[]
breakPoint = 0
for i in movieData['crew']:
    dict_list = ast.literal_eval(i)
    flag =0
    for j in range(len(dict_list)):
        if dict_list[j]['job']=="Director":
            directorName.append(dict_list[j]['name'])
            flag =1
            break
    if flag==0:
        directorName.append(None)

In [134]:
len(directorName)

44571

In [135]:
movieData['DirectorName']=directorName

In [136]:
#Check Out Formed DirectorName column
movieData

,id,title,genres,DirectorName,ProducerName,original_language,overview,runtime,crew
0,862,Toy Story,Animation-Comedy-Family,John Lasseter,NaN,en,"Led by Woody, Andy's toys live happily in his ...",81.0,"[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,Adventure-Fantasy-Family,Joe Johnston,NaN,en,When siblings Judy and Peter discover an encha...,104.0,"[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,Romance-Comedy,Howard Deutch,NaN,en,A family wedding reignites the ancient feud be...,101.0,"[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,Waiting to Exhale,Comedy-Drama-Romance,Forest Whitaker,NaN,en,"Cheated on, mistreated and stepped on, the wom...",127.0,"[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,Comedy,Charles Shyer,NaN,en,Just when George Banks has recovered from his ...,106.0,"[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...
44566,439050,Subdue,Drama-Family,Hamid Nematollah,NaN,fa,Rising and falling between a man and woman.,90.0,"[{'credit_id': '5894a97d925141426c00818c', 'de..."
44567,111109,Century of Birthing,Drama,Lav Diaz,NaN,tl,An artist struggles to finish his work while a...,360.0,"[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
44568,67758,Betrayal,Action-Drama-Thriller,Mark L. Lester,NaN,en,"When one of her hits goes wrong, a professiona...",90.0,"[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
44569,227506,Satan Triumphant,[],Yakov Protazanov,NaN,en,"In a small town live two brothers, one a minis...",87.0,"[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
44570,461257,Queerama,[],Daisy Asquith,NaN,en,50 years after decriminalisation of homosexual...,75.0,"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [137]:
producerName = []
breakPoint = 0
for i in movieData['crew']:
        dict_list = ast.literal_eval(i)
        flag = 0
        for j in range(len(dict_list)):
            if dict_list[j]['job']=="Producer":
                producerName.append(dict_list[j]['name'])
                flag =1
                break
        if flag ==0:
            producerName.append(None)

In [138]:
len(producerName)

44571

In [139]:
movieData['ProducerName'] = producerName

In [140]:
#Check Out Formed ProducerName column
movieData

,id,title,genres,DirectorName,ProducerName,original_language,overview,runtime,crew
0,862,Toy Story,Animation-Comedy-Family,John Lasseter,Bonnie Arnold,en,"Led by Woody, Andy's toys live happily in his ...",81.0,"[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,Adventure-Fantasy-Family,Joe Johnston,Scott Kroopf,en,When siblings Judy and Peter discover an encha...,104.0,"[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,Romance-Comedy,Howard Deutch,None,en,A family wedding reignites the ancient feud be...,101.0,"[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,Waiting to Exhale,Comedy-Drama-Romance,Forest Whitaker,Ronald Bass,en,"Cheated on, mistreated and stepped on, the wom...",127.0,"[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,Comedy,Charles Shyer,Nancy Meyers,en,Just when George Banks has recovered from his ...,106.0,"[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...
44566,439050,Subdue,Drama-Family,Hamid Nematollah,Hamid Nematollah,fa,Rising and falling between a man and woman.,90.0,"[{'credit_id': '5894a97d925141426c00818c', 'de..."
44567,111109,Century of Birthing,Drama,Lav Diaz,None,tl,An artist struggles to finish his work while a...,360.0,"[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
44568,67758,Betrayal,Action-Drama-Thriller,Mark L. Lester,None,en,"When one of her hits goes wrong, a professiona...",90.0,"[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
44569,227506,Satan Triumphant,[],Yakov Protazanov,Joseph N. Ermolieff,en,"In a small town live two brothers, one a minis...",87.0,"[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
44570,461257,Queerama,[],Daisy Asquith,None,en,50 years after decriminalisation of homosexual...,75.0,"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [141]:
#Deleting non required Crew column
movieData = movieData.drop("crew", axis =1)

In [142]:
movieData.isna().sum()

id                       0
title                    0
genres                   0
DirectorName           803
ProducerName         22718
original_language        0
overview                 0
runtime                  0
dtype: int64

In [143]:
movieData = movieData.dropna()

In [144]:
movieData.isna().sum()

id                   0
title                0
genres               0
DirectorName         0
ProducerName         0
original_language    0
overview             0
runtime              0
dtype: int64

In [145]:
movieData

,id,title,genres,DirectorName,ProducerName,original_language,overview,runtime
0,862,Toy Story,Animation-Comedy-Family,John Lasseter,Bonnie Arnold,en,"Led by Woody, Andy's toys live happily in his ...",81.0
1,8844,Jumanji,Adventure-Fantasy-Family,Joe Johnston,Scott Kroopf,en,When siblings Judy and Peter discover an encha...,104.0
3,31357,Waiting to Exhale,Comedy-Drama-Romance,Forest Whitaker,Ronald Bass,en,"Cheated on, mistreated and stepped on, the wom...",127.0
4,11862,Father of the Bride Part II,Comedy,Charles Shyer,Nancy Meyers,en,Just when George Banks has recovered from his ...,106.0
5,949,Heat,Action-Crime-Drama-Thriller,Michael Mann,Art Linson,en,"Obsessive master thief, Neil McCauley leads a ...",170.0
...,...,...,...,...,...,...,...,...
44562,390959,Shadow of the Blair Witch,Mystery-Horror,Ben Rock,Jay Bogdanowitsch,en,"In this true-crime documentary, we delve into ...",45.0
44564,222848,Caged Heat 3000,Science Fiction,Aaron Osborne,Mike Upton,en,It's the year 3000 AD. The world's most danger...,85.0
44565,30840,Robin Hood,Drama-Action-Romance,John Irvin,Sarah Radclyffe,en,"Yet another version of the classic epic, with ...",104.0
44566,439050,Subdue,Drama-Family,Hamid Nematollah,Hamid Nematollah,fa,Rising and falling between a man and woman.,90.0
44569,227506,Satan Triumphant,[],Yakov Protazanov,Joseph N. Ermolieff,en,"In a small town live two brothers, one a minis...",87.0

In [146]:
movieData.columns = ['MovieID', 'MovieName', 'Genre', 'DirectorName', 'ProducerName','Language',  'Story', 'Duration']

In [147]:
movieData

,MovieID,MovieName,Genre,DirectorName,ProducerName,Language,Story,Duration
0,862,Toy Story,Animation-Comedy-Family,John Lasseter,Bonnie Arnold,en,"Led by Woody, Andy's toys live happily in his ...",81.0
1,8844,Jumanji,Adventure-Fantasy-Family,Joe Johnston,Scott Kroopf,en,When siblings Judy and Peter discover an encha...,104.0
3,31357,Waiting to Exhale,Comedy-Drama-Romance,Forest Whitaker,Ronald Bass,en,"Cheated on, mistreated and stepped on, the wom...",127.0
4,11862,Father of the Bride Part II,Comedy,Charles Shyer,Nancy Meyers,en,Just when George Banks has recovered from his ...,106.0
5,949,Heat,Action-Crime-Drama-Thriller,Michael Mann,Art Linson,en,"Obsessive master thief, Neil McCauley leads a ...",170.0
...,...,...,...,...,...,...,...,...
44562,390959,Shadow of the Blair Witch,Mystery-Horror,Ben Rock,Jay Bogdanowitsch,en,"In this true-crime documentary, we delve into ...",45.0
44564,222848,Caged Heat 3000,Science Fiction,Aaron Osborne,Mike Upton,en,It's the year 3000 AD. The world's most danger...,85.0
44565,30840,Robin Hood,Drama-Action-Romance,John Irvin,Sarah Radclyffe,en,"Yet another version of the classic epic, with ...",104.0
44566,439050,Subdue,Drama-Family,Hamid Nematollah,Hamid Nematollah,fa,Rising and falling between a man and woman.,90.0
44569,227506,Satan Triumphant,[],Yakov Protazanov,Joseph N. Ermolieff,en,"In a small town live two brothers, one a minis...",87.0

Data refactoring for useless entries, duplicates, etc

In [148]:
#Removing genres == []

In [149]:
movieData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21825 entries, 0 to 44569
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       21825 non-null  int64
 1   MovieName     21825 non-null  object
 2   Genre         21825 non-null  object
 3   DirectorName  21825 non-null  object
 4   ProducerName  21825 non-null  object
 5   Language      21825 non-null  object
 6   Story         21825 non-null  object
 7   Duration      21825 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.5+ MB

In [150]:
emptyGenres = []
for i in range(len(movieData['Genre'])):
        movieData = movieData[movieData["Genre"]!='[]']

In [151]:
movieData.shape

(21572, 8)

In [152]:
movieData.nunique()

MovieID         21524
MovieName       20459
Genre            2806
DirectorName     9264
ProducerName    10309
Language           73
Story           21455
Duration          276
dtype: int64

In [153]:
movieData.drop_duplicates(subset="MovieID", inplace = True)
movieData.drop_duplicates(subset="MovieName", inplace = True)
movieData.drop_duplicates(subset="Story", inplace = True)

In [154]:
movieData.nunique()

MovieID         20394
MovieName       20394
Genre            2690
DirectorName     8953
ProducerName     9962
Language           73
Story           20394
Duration          271
dtype: int64

In [155]:
movieData.shape

(20394, 8)

In [156]:
movieData.to_csv("Movie_Data.csv", index=False)

In [164]:
del movieData

In [158]:
finalMovieData = pd.read_csv("Movie_Data.csv")

In [159]:
finalMovieData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20394 entries, 0 to 20393
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       20394 non-null  int64
 1   MovieName     20394 non-null  object
 2   Genre         20394 non-null  object
 3   DirectorName  20394 non-null  object
 4   ProducerName  20394 non-null  object
 5   Language      20394 non-null  object
 6   Story         20394 non-null  object
 7   Duration      20394 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.2+ MB

In [160]:
finalMovieData.shape

(20394, 8)

In [161]:
finalMovieData.nunique()

MovieID         20394
MovieName       20394
Genre            2690
DirectorName     8953
ProducerName     9962
Language           73
Story           20394
Duration          271
dtype: int64

In [163]:
del finalMovieData